name: "Test using kind and chart-testing tool"
on:
  pull_request:
    paths:
    - "config/helm-chart/**"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        kubernetesVersion: [ "v1.30.10", "v1.32.2" ]
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Shellcheck
        uses: ludeeus/action-shellcheck@2.0.0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct-config.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ct-config.yaml

      - name: Install kind
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.13.0
        with:
          node_image: "kindest/node:${{ matrix.kubernetesVersion }}"
          config: kind-config.yaml
      - name: Verify kind
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          kubectl cluster-info
          kubectl get nodes -o wide
          kubectl get pods -n kube-system

      - name: Run chart-testing (install)
        run: ct install --config ct-config.yaml
